tags
CMakeFiles
Makefile
cmake_install.cmake
CMakeCache.txt
install_manifest.txt
CMakeCache.txt
CTestTestfile.cmake
CMakeScripts
compile_commands.json

doc/

src/include
src/qt/ui_*
src/qt/*_automoc.cpp
src/qt/example

*.sw[po]
.idea
*.so
*.user
*.bak
*.[ao]
