tags
CMakeFiles
Makefile
cmake_install.cmake
CMakeCache.txt
install_manifest.txt
CMakeCache.txt
CTestTestfile.cmake
CMakeScripts
compile_commands.json

CPack*

doc/

*.dylib

src/include
src/qt/ui_*
src/qt/example
*_automoc.cpp
moc_*.cpp
*_autogen

test/testBin

tmp/

data/*

*.sw[po]
.idea
*.so
*.run
*.user
*.bak
*.[ao]
*.qt
