QLineEdit {
    background: black;
}

#centralWidget {
    backgrond: black;
}

* {
    background: black;
    color: white;
}

QTextEdit, QComboBox {
    border: 1px solid #1EFAFA;
}

QTabWidget {
    border: 1px solid #1EFAFA;
}
